<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && register()"
  autocomplete="off"
>
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="form-group">
    <label for="" style="margin-right: 10px" class="control-label"
      >Gender:</label
    >
    <label for="" class="radio-inline">
      <input type="radio" value="male" formControlName="gender" /> Male
    </label>
    <label for="" class="radio-inline">
      <input
        type="radio"
        value="female"
        formControlName="gender"
        class="ml-3"
      />
      Female
    </label>
  </div>
  <app-text-input
    [label]="'Know as'"
    [formControl]="$any(registerForm.controls['knownAs'])"
  ></app-text-input>
  <app-date-input
    [label]="'Date of Birth'"
    [maxDate]="maxDate"
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
  ></app-date-input>
  <app-text-input
    [label]="'City'"
    [formControl]="$any(registerForm.controls['city'])"
  ></app-text-input>
  <app-text-input
    [label]="'Country'"
    [formControl]="$any(registerForm.controls['country'])"
  ></app-text-input>
  <app-text-input
    [label]="'UserName'"
    [formControl]="$any(registerForm.controls['username'])"
  ></app-text-input>
  <app-text-input
    [label]="'Password'"
    [formControl]="$any(registerForm.controls['password'])"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    [label]="'Confirm Password'"
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [type]="'password'"
  ></app-text-input>
  <div class="form-group text-center">
    <button
      class="btn btn-success mr-2"
      [disabled]="!registerForm.valid"
      type="submit"
    >
      Register
    </button>
    <button class="btn btn-danger" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>
<p>{{ registerForm.value | json }}</p>
