<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarColor01"
    >
      <div class="d-flex">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">
          Dating App
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ng-container *ngIf="currentUser$ | async">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/members"
                routerLinkActive="active"
                >Matches</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active"
                >Lists</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/messages"
                routerLinkActive="active"
                >Messages</a
              >
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/buggy" routerLinkActive="active"
              >Buggy</a
            >
          </li>
        </ul>
      </div>
      <div class="navbar-nav" ngbDropdown>
        <ng-container *ngIf="currentUser$ | async as user">
          <a
            ngbDropdownToggle
            class="text-decoration-none nav-link active"
            style="cursor: pointer"
            >Welcome {{ user.username | titlecase }}</a
          >
          <div ngbDropdownMenu>
            <a ngbDropdownItem href="#">Profile</a>
            <a ngbDropdownItem (click)="logout()">Logout</a>
          </div>
        </ng-container>
      </div>
      <form
        *ngIf="(currentUser$ | async) === null"
        #loginForm="ngForm"
        class="d-flex"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          class="form-control me-2 my-auto"
          type="text"
          placeholder="Username"
          name="username"
          [(ngModel)]="model.username"
          aria-label="Username"
        />
        <input
          class="form-control me-sm-2 my-auto"
          type="password"
          name="password"
          [(ngModel)]="model.password"
          placeholder="Password"
          aria-label="Password"
        />
        <button class="btn btn-outline-success btn-sm" type="submit">
          Login
        </button>
      </form>
    </div>
  </div>
</nav>
