<div class="text-center mt-3">
  <h2>{{ predicate === "liked" ? "Members I like" : "Member who like me" }}</h2>
</div>
<div class="container mt-3">
  <div class="d-flex">
    <div class="btn-group" name="predicate">
      <button
        class="btn btn-primary"
        btnRadio="liked"
        [(ngModel)]="predicate"
        (click)="loadLikes()"
      >
        Member i like
      </button>
      <button
        class="btn btn-primary"
        btnRadio="likedBy"
        [(ngModel)]="predicate"
        (click)="loadLikes()"
      >
        Member i who like me
      </button>
    </div>
  </div>
  <div class="d-flex mt-3 text-center">
    <div class="col-3" *ngFor="let member of members">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center my-4" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
